.dialog-paper {
    width: 400px;
    border-radius: 8px;
    background-color: #060000;
    color: #000;
  }
.quote-heading{
    font-size: 30px;
    font-weight: 600;
    color: #0a0606;
    margin-bottom: 10px;
}
.quote-text{
    font-size: 16px;
    font-weight: 400;
    color: #000000a6;
    margin-bottom: 10px;
}
.intro-part {
    opacity: 0;
    transition: opacity 0.8s;
  }
  
  .intro-part.visible {
    opacity: 1;
  }

  .arrow-wrapper {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .arrow-icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s ease-in-out;
    
  }
  
  .arrow-wrapper:hover .arrow-icon {
    transform: translateY(-10px);
  }

  
  
  
  
  
  
