h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}
@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
h2{
    color: #000000;
    font-size: 30px;
    
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
}
.magic{
  animation: background-pan 1.5s linear infinite;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(82, 82, 82),
    rgb(27, 27, 27),
    rgb(104, 185, 89)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro-text {
    margin-left: 10%;
  }
  
  .intro-gif {
    margin-right: 10%;
  }
  