h1{
    color: #808080;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}
h2{
    color: #808080;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;

}
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro-text {
    margin-left: 10%;
  }
  
  .intro-gif {
    margin-right: 10%;
  }
  