h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}
@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
h2{
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.magic{
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    purple,
    violet,
    pink,
    purple
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro-text {
    margin-left: 10%;
  }
  
  .intro-gif {
    margin-right: 10%;
  }
  